@model string

@using (var conn = Database.Connection())
{
    var data = conn.Query(@"SELECT
        Device.class_device   AS ClassDevice,
        Devices1C.Description AS Description1C,
        Devices1C.Mol         AS Mol1C,
        Device.Description    AS Description,
        Device.Inventory,
        Device.Name,
        Computers.name        AS ComputerName,
        Device.install_date   AS DateInstall,
        Device.Mol
    FROM Device
    LEFT OUTER JOIN Devices1C ON Device.Inventory = Devices1C.Inventory
    LEFT OUTER JOIN Device AS Computers ON Device.number_comp = Computers.number_device
    WHERE Device.number_device = @Model", new { Model }).FirstOrDefault();

    if (data == null)
    {
        <div class="cart-overflow">
            <button onclick="Devices.Cart.backToAddons()">Вернуться</button>
            <br /> Устройство не найдено в базе данных
        </div>
        return;
    }
    else
    {
        <div class="cart-overflow">

            <button onclick="Devices.Cart.backToAddons()">Вернуться</button>
            <button onclick="Devices.DefectAct.print()">Печать</button>

            <table class="cart-table" id="defect-cart">
                <tbody>
                    <tr>
                        <td>На дату</td>
                        <td><input style="width: 100px" name="DateInstall" value="@data.DateInstall.ToString("dd.MM.yyyy")" /></td>
                    </tr>
                    <tr>
                        <td>Наименование по 1С</td>
                        <td><textarea name="Description">@(string.IsNullOrEmpty(data.Description1C) ? data.Description : data.Description1C)</textarea></td>
                    </tr>
                    <tr>
                        <td>Инвентарный номер</td>
                        <td><input name="Inventory" value="@data.Inventory" /></td>
                    </tr>
                    <tr>
                        @if (data.ClassDevice == "CMP")
                        {
                            <td>Сетевое имя</td>
                        }
                        else
                        {
                            <td>Имя компьютера</td>
                        }
                        <td><input name="Name" value="@data.Name" /></td>
                    </tr>
                    <tr>
                        <td>М.О.Л. (должность)</td>
                        <td><input name="Position" value="" /></td>
                    </tr>
                    <tr>
                        <td>М.О.Л. (фамилия и.о.)</td>
                        <td><input name="Mol" value="@(string.IsNullOrEmpty(data.Mol1C) ? data.Mol : data.Mol1C)" /></td>
                    </tr>
                    <tr>
                        <td>Время наработки</td>
                        <td><input name="Time" style="width: 100px;" value="@(Math.Round((DateTime.Now - data.DateInstall).TotalHours))" /> часов</td>
                    </tr>
                </tbody>
            </table>

            <br />
            <b>Неисправности</b>

            <table>
                <thead>
                    <tr>
                        <td>
                            Тип:
                            <select id="defect_position" onchange="Devices.DefectAct.check(this)">
                                @if (data.ClassDevice == "CMP")
                                {
                                    <option value="motherboard">Материнская плата</option>
                                    <option value="cpu">Процессор</option>
                                    <option value="power">Блок питания</option>
                                    <option value="ram">Оперативная память</option>
                                    <option value="hdd">Жесткий диск</option>
                                    <option value="videocard">Видеокарта</option>
                                }
                                <option value="unique">Свое</option>
                            </select>
                        </td>
                        <td id="defect_unique"></td>
                        <td>Кол-во: <input id="defect_count" style="width: 60px;" value="1" /></td>
                        <td><button onclick="Devices.DefectAct.add()">Добавить</button></td>
                    </tr>
                </thead>
            </table>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th width="100px"></th>
                        <th width="100px"></th>
                    </tr>
                </thead>
                <tbody id="defect_container"></tbody>
            </table>
            <div id="defect_link"></div>
        </div>
    }
}