@model int

@using (var conn = Database.Connection())
{
    var data = conn.Query(@"SELECT
        Devices.Type,
        Objects1C.Description AS Description1C,
        Objects1C.Mol         AS Mol1C,
        Devices.Description    AS Description,
        Devices.Inventory,
        Devices.Name,
        Computers.Name        AS ComputerName,
        Devices.DateInstall,
        Devices.Mol
    FROM Devices
    LEFT OUTER JOIN Objects1C ON Devices.Inventory = Objects1C.Inventory
    LEFT OUTER JOIN Devices AS Computers ON Devices.ComputerId = Computers.Id
    WHERE Devices.Id = @Model", new { Model }).FirstOrDefault();

    if (data == null)
    {
        <div>
            <button class="cart__button" onclick="Devices.Cart.backToAddons()">Вернуться</button>
            <br /> Устройство не найдено в базе данных
        </div>
        return;
    }
    else
    {
        <div class="cart__body">

            <button class="cart__button" onclick="Devices.Cart.backToAddons()">Вернуться</button>
            <button class="cart__button" onclick="Devices.DefectAct.print()">Печать</button>

            <table class="cart__table" id="defect-cart">
                <tbody>
                    <tr>
                        <td>На дату</td>
                        <td><input class="cart__field" style="width: 100px" name="DateInstall" value="@data.DateInstall.ToString("dd.MM.yyyy")" /></td>
                    </tr>
                    <tr>
                        <td>Наименование по 1С</td>
                        <td><textarea class="cart__field" name="Description">@(string.IsNullOrEmpty(data.Description1C) ? data.Description : data.Description1C)</textarea></td>
                    </tr>
                    <tr>
                        <td>Инвентарный номер</td>
                        <td><input class="cart__field" name="Inventory" value="@data.Inventory" /></td>
                    </tr>
                    <tr>
                        @if (data.Type == "CMP")
                        {
                            <td>Сетевое имя</td>
                        }
                        else
                        {
                            <td>Имя компьютера</td>
                        }
                        <td><input class="cart__field" name="Name" value="@data.Name" /></td>
                    </tr>
                    <tr>
                        <td>М.О.Л. (должность)</td>
                        <td><input class="cart__field" name="Position" value="" /></td>
                    </tr>
                    <tr>
                        <td>М.О.Л. (фамилия и.о.)</td>
                        <td><input class="cart__field" name="Mol" value="@(string.IsNullOrEmpty(data.Mol1C) ? data.Mol : data.Mol1C)" /></td>
                    </tr>
                    <tr>
                        <td>Время наработки</td>
                        <td><input class="cart__field" name="Time" style="width: 100px;" value="@(Math.Round((DateTime.Now - data.DateInstall).TotalHours))" /> часов</td>
                    </tr>
                </tbody>
            </table>

            <br />
            <b class="cart__caption">Неисправности</b>

            <table class="cartHistory__table">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th></th>
                        <th width="50px"></th>
                        <th width="80px"></th>
                    </tr>
                    <tr>
                        <td width="250px">
                            <select class="cart__field" id="defect_position" onchange="Devices.DefectAct.check(this)">
                                @if (data.Type == "CMP")
                                {
                                    <option value="motherboard">Материнская плата</option>
                                    <option value="cpu">Процессор</option>
                                    <option value="power">Блок питания</option>
                                    <option value="ram">Оперативная память</option>
                                    <option value="hdd">Жесткий диск</option>
                                    <option value="videocard">Видеокарта</option>
                                }
                                <option value="unique">Свое</option>
                            </select>
                        </td>
                        <td><input class="cart__field" id="defect_unique" disabled /></td>
                        <td><input class="cart__field" id="defect_count" type="number" min="0" value="1" /></td>
                        <td><button class="cart__button" onclick="Devices.DefectAct.add()">Добавить</button></td>
                    </tr>
                </thead>
                <tbody id="defect_container"></tbody>
            </table>
            <div id="defect_link"></div>
        </div>
    }
}