@{
    ViewBag.Title = "DEVIN | Устройства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <form method="get" action="@Url.Action(null, "devices")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li><li>
        <a class="has-icon" onmousedown="_menu(this)" menu="main"><div class="icon ic-menu"></div></a>
    </li>
}

@section scripts {
    <script src="~/content/lib/jquery-3.3.1.min.js"></script>
    <script src="~/content/js/core.js"></script>
    <script>
        $('.view')
            .on('mousedown', '.unit:not(#solo) .caption th,.unit:not(#solo) .caption td:not(:first-child)', function () { toggle(this) })
            .on('mousedown', '.items th', function () { _sort(this) })

        function cartOpenBack() {
            fetch(host + 'devices/cart/' + id)
                .then(res => res.text())
                .then(text => {
                    let cart = document.getElementById('cart');
                    cart.innerHTML = text;
                    cart.classList.add('cart_visible');
                    let el = document.getElementById(id);
                    if (el) {
                        document.getElementById('view').querySelectorAll('.selected').forEach(el => el.classList.remove('selected'));
                        el.classList.add('selected');
                    }
                });
        }

        function computerOpen() {
            cartOpen(document.getElementById(menuId).querySelector('.title'));
        }

        function computerDelete() {
            if (confirm('Данный компьютер будет удален. Продолжить?')) {
                id = menuId;
                cartDelete();
            }
        }

        function computerMove() {
            let form = new FormData();
            form.append('Key', $('#modal select:first-child').val().replace('dg', ''));

            fetch(host + 'devices/move/' + menuId, { method: 'POST', body: form })
                .then(() => {
                    restore();
                    $('#modal').fadeOut(100);
                });
        }

        function toggle(node) {
            var $unit = $(node).closest('.unit');
            var id = $unit.attr('id')
                ? $unit.attr('id')
                : $unit.find('.title-wrapper:first-child').attr('id');
            if ($unit.hasClass('open')) {
                $unit
                    .children('.items_block')
                    .slideToggle(150, function () {
                        $unit.removeClass('open');
                    });
                setCookie(id, '', { expires: 9999999999 });
            } else {
                $unit
                    .addClass('open')
                    .children('.items_block')
                    .slideToggle(150);
                setCookie(id, 'open', { expires: 9999999999 });
            }
        }

        function cartOpen(node) {
            id = node.parentNode.id;
            cartOpenBack();
            setHash(id);
        }

    </script>
}

@section html {
    <div class="panel" id="selected">
        <div>Выбрано элементов: <b></b></div>
        <div>
            <select id="moveKey" class="cart__field cart__field_autoWidth">
                <option value="0">Не распределенные</option>
                @using (var conn = Database.Connection())
                {
                    var computers = conn.Query<Computer>("SELECT Id, Name FROM Devices WHERE Type = 'CMP' AND IsDeleted = 0 AND IsOff = 0 ORDER BY Name");
                    foreach (var computer in computers)
                    {
                        <option value="computer@(computer.Id)">[компьютер] @computer.Name</option>
                    }
                    var folders = conn.Query<Folder>("SELECT Id, Name FROM Folders WHERE Type = 'device' ORDER BY Name");
                    foreach (var folder in folders)
                    {
                        <option value="folder@(folder.Id)">[папка] @folder.Name</option>
                    }
                }
            </select>
            <br /><a onclick="moveSelectedDevices()">Переместить</a>
        </div>
        <div><a onclick="removeAllSelection()">Сбросить выбор</a></div>
    </div>

    <div class="context-menu" id="main">
        <div onclick="Devices.Cart.create()">Создать карточку устройства</div>
        <div onclick="Folders.create()">Создать группу</div>
        <hr />
        <a href="@Url.Action("analyze", "storages")">Анализ расхода картриджей</a>
        <hr />
        <a href="@Url.Action("table")">Табличный просмотр Devin</a>
        <a href="@Url.Action("table1C")">Просмотр данных 1С</a>
        <a href="@Url.Action("compare1C")">Сверка с 1С</a>
        <hr />
        <a href="@Url.Action("workplaces")">Справочник рабочих мест</a>
    </div>

    <ul class="context-menu" id="computer">
        <li onclick="computerOpen()">Открыть карточку</li>
        <li onclick="Devices.printReport()">Карточка учета техники</li>
        <li onclick="Folders.beforeMove()">Переместить</li>
        <li onclick="computerDelete()">Удалить</li>
    </ul>

    <ul class="context-menu" id="group">
        <li onclick="Folders.update()">Переименовать
        <li onclick="Folders.beforeMove()">Переместить</li>
        <li onclick="Folders.createInner()">Создать вложенную группу</li>
        <li onclick="Folders.clear()">Очистить</li>
        <li onclick="Folders.del()">Удалить</li>
    </ul>

    <ul class="context-menu" id="modal">
        <li></li>
        <li>Ок</li>
        <li onclick="$(this).parent().fadeOut(100)">Отмена</li>
    </ul>
}

@Html.Action("list")
