@{
    ViewBag.Title = "DEVIN | Устройства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <form method="get" action="@Url.Action(null, "devices")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li><li>
        <a class='has-icon' onmousedown='_menu(this)' menu='main'><div class='icon ic-menu'></div></a>
    </li>
}

@section styles {
    <link rel="stylesheet" href="~/content/lib/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/content/lib/select2.min.css" />
    <link rel="stylesheet" href="~/content/css/device.css" />
}

@section scripts {
    <script src="~/content/lib/jquery-1.12.4.min.js"></script>
    <script src="~/content/lib/jquery-ui.min.js"></script>
    <script src="~/content/lib/select2.min.js"></script>
    <script src="~/content/js/core.js"></script>
    <script src="~/content/js/device.js?v=2"></script>
    <script>
        var sortKey = '@Request.QueryString.Get("key")',
            sortDesc = '@Request.QueryString.Get("desc")',
            sortText = '@Request.QueryString.Get("search")';

        $('.view')
            .on('mousedown', '.unit:not(#solo) .caption th,.unit:not(#solo) .caption td:not(:first-child)', function () { toggle(this) })
            .on('mousedown', '.items tbody td:not(:first-child), .title', function () { cartOpen(this); })
            .on('mousedown', '.main th', function () { sort(this) })
            .on('mousedown', '.items th', function () { _sort(this) })
        $('#cart')
            .on('submit', 'form', function () { event.preventDefault() })


        function cartOpenBack() {

            $.get('@Url.Action("cart")/' + id).done(data => $('#cart')
                .html(data)
                .fadeIn(100)
                .css({ maxWidth: 600 })
            );

            $('.view .selected').removeClass('selected');
            try { $('#' + id).addClass('selected'); } catch (e) {}
        }

        let Device = {
            PrintReportCart() {
                fetch('@Url.Action("PrintRecordCart", "Devices")/' + menuId).then(res => res.text()).then(text => {
                    let a = document.createElement('a');
                    a.href = text;
                    a.click();
                });
            }
        };

    </script>
}

@section html {

    <div id='selected' class='panel'>
        <div>Выбрано элементов: <b></b></div>
        <div><div id='move_select'><select id='moveKey'></select></div><a onclick='moveSelectedDevices()'>Переместить</a></div>
        <div><a onclick='removeAllSelection()'>Сбросить выбор</a></div>
    </div>

    <div id="excl" class='panel'>
        <form method="POST" enctype="multipart/form-data" action="/devin/asp/device_1c_compare.asp?typeof=0">
            <select onchange="parentNode.action='/devin/asp/device_1c_compare.asp?typeof='+this.value;" name='typeof'>
                <option value='0'>Компьютеры</option>
                <option value='1'>Принтеры</option>
                <option value='2'>Мониторы</option>
                <option value='3'>Модемы</option>
                <option value='4'>Сканеры</option>
                <option value='5'>ИБП</option>
                <option value='6'>Другое</option>
            </select>
            <input type='file' name="FILE1" />
            <input type='submit' value="Загрузить" />
        </form>
    </div>

    <div class="context-menu" id="main">
        <div onclick="cartCreate()">Создать карточку устройства</div>
        <div onclick="Folder.create()">Создать группу</div>
        <hr />
        <a href="@Url.Action("analyze", "storages")">Анализ расхода картриджей</a>
        <hr />
        <a href="@Url.Action("table")">Табличный просмотр Devin</a>
        <a href="@Url.Action("table1C")">Просмотр данных 1С</a>
        <a href="@Url.Action("compare1C")">Сверка с 1С</a>
        <hr />
        <a href="@Url.Action("workplaces")">Справочник рабочих мест</a>
    </div>

    <ul class="context-menu" id="computer">
        <li onclick="computerOpen()">Открыть карточку</li>
        <li onclick="Device.PrintReportCart()">Карточка учета техники</li>
        <li onclick="computerAida()">Отчет из AIDA</li>
        <li onclick="Folder.beforeMove()">Переместить</li>
        <li onclick="computerDelete()">Удалить</li>
    </ul>

    <ul class="context-menu" id="group">
        <li onclick="Folder.update()">Переименовать
        <li onclick="Folder.beforeMove()">Переместить</li>
        <li onclick="Folder.createInner()">Создать вложенную группу</li>
        <li onclick="Folder.clear()">Очистить</li>
        <li onclick="Folder.del()">Удалить</li>
    </ul>

    <ul class="context-menu" id="modal">
        <li></li>
        <li>Ок</li>
        <li onclick="$(this).parent().fadeOut(100)">Отмена</li>
    </ul>
}

@Html.Action("list")
