@{
    ViewBag.Title = "DEVIN | Устройства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <form method="get" action="@Url.Action(null, "devices")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li><li>
        <a class="has-icon" onmousedown="_menu(this)" menu="main"><div class="icon ic-menu"></div></a>
    </li>
}

@section html {
    <div class="panel" id="selected">
        <div>Выбрано элементов: <b></b></div>
        <div>
            <select id="moveKey" class="cart__field cart__field_autoWidth">
                <option value="0">Не распределенные</option>
                @using (var conn = Database.Connection())
                {
                    var computers = conn.Query<Computer>("SELECT Id, Name FROM Devices WHERE Type = 'CMP' AND IsDeleted = 0 AND IsOff = 0 ORDER BY Name");
                    foreach (var computer in computers)
                    {
                        <option value="computer@(computer.Id)">[компьютер] @computer.Name</option>
                    }
                    var folders = conn.Query<Folder>("SELECT Id, Name FROM Folders WHERE Type = 'device' ORDER BY Name");
                    foreach (var folder in folders)
                    {
                        <option value="folder@(folder.Id)">[папка] @folder.Name</option>
                    }
                }
            </select>
            <br /><a onclick="moveSelectedDevices()">Переместить</a>
        </div>
        <div><a onclick="removeAllSelection()">Сбросить выбор</a></div>
    </div>

    <div class="context-menu" id="main">
        <div onclick="Devices.Cart.create()">Создать карточку устройства</div>
        <div onclick="Folders.create()">Создать группу</div>
        <hr />
        <a href="~/storages/analyze">Анализ расхода картриджей</a>
        <hr />
        <a href="~/devices/table">Табличный просмотр Devin</a>
        <a href="~/devices/table1C">Просмотр данных 1С</a>
        <a href="~/devices/compare1C">Сверка с 1С</a>
        <hr />
        <a href="~/devices/workplaces">Справочник рабочих мест</a>
    </div>

    <ul class="context-menu" id="computer">
        <li onclick="Devices.computerOpen()">Открыть карточку</li>
        <li onclick="Devices.printReport()">Карточка учета техники</li>
        <li onclick="Folders.beforeMove()">Переместить</li>
        <li onclick="Devices.computerDelete()">Удалить</li>
    </ul>

    <ul class="context-menu" id="group">
        <li onclick="Folders.update()">Переименовать</li>
        <li onclick="Folders.beforeMove()">Переместить</li>
        <li onclick="Devices.printReportByFolder()">Карточка учета техники</li>
        <li onclick="Folders.createInner()">Создать вложенную группу</li>
        <li onclick="Folders.clear()">Очистить</li>
        <li onclick="Folders.del()">Удалить</li>
    </ul>

    <ul class="context-menu" id="modal">
        <li></li>
        <li>Ок</li>
        <li onclick="document.getElementById('modal').classList.remove('contextMenu_visible')">Отмена</li>
    </ul>
}

<script>let search = '@Request.QueryString.Get("search")';</script>
@Html.Action("list", new { search = Request.QueryString.Get("search") })