@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DEVIN | Устройства | Инв. номер";

    string inventory = Request.QueryString.Get("inventory");
}

@section styles {}
    <style>

    </style>

@section scripts {
    <script>
        
    </script>
}

@using System.Text

<form method="get" action="./inventory">
    <input type="text" name="inventory" value="@inventory" class="cart__field cart__field_autoWidth" />
    <input type="submit" class="cart__button" value="Получить список оборудования" />
</form>

<br />

<div>
    @if (!string.IsNullOrEmpty(inventory))
	{
		using (var db = new DevinContext())
		{
			var query = from d in db.Devices
						from o in db.Objects1C.Where(x => x.Inventory == d.Inventory).DefaultIfEmpty()
						from p in db.WorkPlaces.Where(x => x.Id == d.PlaceId).DefaultIfEmpty()
						where d.Inventory == inventory && !d.IsDeleted && !d.IsOff
						orderby d.Inventory, o.Description
						select new Device
						{
							Id = d.Id,
							Inventory = d.Inventory,
							Description = d.Description,
							SerialNumber = d.SerialNumber,
							PublicName = d.PublicName,
							DateInstall = d.DateInstall,
							Object1C = new Object1C
							{
								Mol = o.Mol
							},
							Place = new WorkPlace
							{
								Id = p.Id,
								Location = p.Location
							}
						};

			var devices = query.ToList();


			var csv = new StringBuilder();
			csv.AppendLine("Инв. номер;Наименование;Заводской номер;Состав;М.О.Л.;Дата ввода в экспл.;Рабочее место");

			if (devices.Count() > 0)
			{
                <div>
                    <a class="cart__button" href="~/files/inventory/@(inventory).csv">Сохранить в файл .CSV</a>
                </div>

                <br />

                <table class="items">
                    <thead>
                        <tr>
                            <th>Инв. номер</th>
                            <th>Наименование</th>
                            <th>Заводской номер</th>
                            <th>Состав</th>
                            <th>М.О.Л.</th>
                            <th>Дата ввода в экспл.</th>
                            <th>Рабочее место</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var device in devices)
                        {
                            string link = "##device" + device.Id;
                            <tr>
                                <td><a href="@link" class="view__link">@device.Inventory</a></td>
                                <td><a href="@link" class="view__link">@(device.Description1C ?? device.Description)</a></td>
                                <td><a href="@link" class="view__link">@(device.SerialNumber ?? "")</a></td>
                                <td><a href="@link" class="view__link">@device.PublicName</a></td>
                                <td><a href="@link" class="view__link">@device.Object1C.Mol</a></td>
                                <td><a href="@link" class="view__link">@device.DateInstall.ToString("dd.MM.yyyy")</a></td>
                                <td><a href="@link" class="view__link">@(device.Place?.Location ?? "Рабочее место не задано")</a></td>
                            </tr>

                            csv.AppendLine($"{device.Inventory};{(device.Description1C ?? device.Description ?? "").Trim()};{(device.SerialNumber ?? "")};{device.PublicName ?? ""};{device.Object1C.Mol ?? ""};{device.DateInstall.ToString("dd.MM.yyyy")};{(device.Place?.Location ?? "Рабочее место не задано")}");
                        }
                    </tbody>
                </table>

                try
                {
                    File.WriteAllText(@"\\web\c$\DevinFiles\inventory\" + inventory + ".csv", csv.ToString(), Encoding.GetEncoding(1251));
                }
                catch (Exception) { }
            }
            else
            {
                <div>По данному инвентарному номеру ничего не найдено</div>
            }
        }
    }
</div>