@model DevicesViewModel

<div>
	Сортировка:
	<select id="sort-direction" onchange="restore()">
		<option value="letter" @(Model.Sort == "letter" ? "selected" : "")>по алфавиту</option>
		<option value="change" @(Model.Sort == "change" ? "selected" : "")>по изменениям</option>
		<option value="inventory" @(Model.Sort == "inventory" ? "selected" : "")>по инвентарному номеру</option>
		<option value="mol" @(Model.Sort == "mol" ? "selected" : "")>по м.о.л</option>
	</select>
</div>

@foreach (var computer in Model.Computers)
{
    @Html.Partial("Computer", computer)
}

<div class="unit" id="solo">
    <table class="caption">
        <tr>
            <th width="24px"><div class="icon ic-cached"></div></th>
            <td><b>Не распределенные устройства</b></td>
        </tr>
    </table>
    <div class="itemsBlock itemsBlock_expanded">
        @Html.Partial("Devices", Model.Devices)
    </div>
</div>

@foreach (var folder in Model.Folders)
{
    @Html.Partial("Folder", folder)
}