@model string

@using (var conn = Database.Connection())
{
    var storage = conn.Query<Storage>("SELECT * FROM Storages WHERE Ncard = @Model", new { Model }).FirstOrDefault();

    if (storage == null)
    {
        <div class="error">Нет данных по данному идентификатору</div>
        return;
    }

    string sql = "";

    <div class="cart-header">@(string.IsNullOrEmpty(storage.Name) ? "Имя не задано" : storage.Name) @(storage.IsDeleted ? " (удален)" : "")</div>

    <div class="">
        <table class="cart-table cart-form">

            <tr>
                <td>Инвентарный №</td>
                <td>
                    <input name="@nameof(storage.Ncard)" value="@storage.Ncard" style="width: 100px" />
                </td>
            </tr>
            <tr>
                <td>Наименование</td>
                <td>
                    <textarea name="@nameof(storage.Name)">@storage.Name</textarea>
                </td>
            </tr>
            <tr>
                <td>Тип устройства</td>
                <td>
                    <select name="@nameof(storage.Type)">
                        <option value="">не определен</option>
                        @{
                            sql = "SELECT T_alias AS [Key], T_storages AS Text FROM catalog_device_types";
                            var types = conn.Query(sql);
                            foreach (var row in types)
                            {
                                <option value="@row.Key" @(row.Key == storage.Type ? "selected" : "")>@row.Text</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Счет учета</td>
                <td>
                    <select name="@nameof(storage.Account)">
                        @{
                            sql = "SELECT uchet AS [Key], uchet AS Text FROM SKLAD GROUP BY uchet ORDER BY Text";
                            var accounts = conn.Query(sql);
                            foreach (var row in accounts)
                            {
                                <option value="@row.Key" @(row.Key == storage.Account ? "selected" : "")>@row.Text</option>
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>Приход</td>
                <td><input name="@nameof(storage.Nall)" type="number" value="@storage.Nall" /></td>
            </tr>
            <tr>
                <td>Стоимость (р. за шт.)</td>
                <td><input name="@nameof(storage.Cost)" value="@storage.Cost.ToString("0.00")" style="width: 100px" /></td>
            </tr>
            <tr>
                <td>Дата прихода</td>
                <td><input name="@nameof(storage.Date)" type="text" value="@storage.Date.ToString("dd.MM.yyyy")" style="width: 100px" /></td>
            </tr>

            <tr>
                <td>На складе</td>
                <td><input name="@nameof(storage.Nstorage)" type="number" value="@storage.Nstorage" /></td>
            </tr>
            <tr>
                <td>Используется</td>
                <td><input name="@nameof(storage.Nrepairs)" type="number" value="@storage.Nrepairs" /></td>
            </tr>
            <tr>
                <td>Списано</td>
                <td><input name="@nameof(storage.Noff)" type="number" value="@storage.Noff" /></td>
            </tr>

            @if (storage.Type == "PRN")
            {
                <tr>
                    <td>Типовой картридж</td>
                    <td>
                        <select name="@nameof(storage.CartridgeId)">
                            <option value="0">не сопоставлен</option>
                            @{
                                sql = "SELECT Id, Name FROM Cartridges ORDER BY Name";
                                var cartridges = conn.Query<Cartridge>(sql);
                                foreach (var row in cartridges)
                                {
                                    <option value="@row.Id" @(row.Id == storage.CartridgeId ? "selected" : "")>@row.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            }

            <tr>
                <td>Группа</td>
                <td>
                    <select name="@nameof(storage.FolderId)" class="select">
                        <option value="0">@(storage.IsOff() ? "Списанные позиции" : "Не распределенные позиции")</option>
                        @{
                            sql = "SELECT Id, Name FROM Folders WHERE Type = 'storage' ORDER BY Name";
                            var folders = conn.Query<Folder>(sql);
                            foreach (var row in folders)
                            {
                                <option value="@row.Id" @(row.Id == storage.FolderId ? "selected" : "")>@row.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div id="console"></div>

    <table class="cart-menu">
        <tr>
            <td onclick="cartSave()">Сохранить</td>
            <td onclick="cartDelete()">Удалить</td>
            <td onclick="cartClose()">Закрыть</td>
        </tr>
    </table>
}