@model StorageCompare

@{
    ViewBag.Title = "DEVIN | Склад | 1С";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .items tr:hover td {background: #eee}
        .compare_bad {color: #ff0000!important}
        .compare_not_found {color: #208608!important}
        .compare_only_storage {color: #009688!important}
    </style>
}

@section menu {
    <li>
        <a class="menu-button" onclick="Storage.addAllExcelsToStorage()">Добавить все новые позиции</a>
    </li>
}

<div class="unit unit-nohover">
    <table class="caption">
        <tr>
            <th>Сравнение остатков, указанных в выгрузке 1С, с числящимися на складе записями</th>
        </tr>
    </table>
    <table class="items">
        <thead>
            <tr>
                <th>Инв. №</th>
                <th>Наименование</th>
                <th>Дата прихода</th>
                <th>Счет учета</th>
                <th>На складе сейчас</th>
                <th>В ремонте</th>
                <th>Остаток по 1С</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @{
                var storages = new List<Storage>();
            }
            @foreach (var storage in Model.Storages)
            {
                string className = "";
                bool hasExcel = false;

                foreach (var excel in Model.Excels)
                {
                    if (storage.Inventory == excel.Inventory)
                    {
                        className = storage.Nstorage + storage.Nrepairs == excel.Nall ? "compare_good" : "compare_bad";

                        <tr class="@className">
                            <td>@storage.Inventory</td>
                            <td>@storage.Name</td>
                            <td>@storage.Date.ToString("d MMMM yyyy")</td>
                            <td>@storage.Account</td>
                            <td>@storage.Nstorage</td>
                            <td>@storage.Nrepairs</td>
                            <td>@excel.Nall</td>
                            <td>
                                <button onclick="Storage.openCart('@storage.Inventory')">Карточка</button>
                            </td>
                        </tr>

                        hasExcel = true;
                        break;
                    }
                }

                if (!hasExcel && (storage.Nstorage > 0 || storage.Nrepairs > 0) && (!storage.IsDeleted))
                {
                    storages.Add(storage);
                }
            }
            @foreach (var excel in Model.Excels)
            {
                bool isFound = false;

                foreach (var storage in Model.Storages)
                {
                    if (storage.Inventory == excel.Inventory)
                    {
                        isFound = true;
                        break;
                    }
                }

                if (!isFound)
                {
                    <tr class="compare_not_found">
                        <td name="Ncard">@excel.Inventory</td>
                        <td name="Name">@excel.Name</td>
                        <td>@excel.Date.ToString("d MMMM yyyy")</td>
                        <td name="Uchet">@excel.Account</td>
                        <td insert="Nis">не найдено на складе</td>
                        <td insert="Nuse">не найдено на складе</td>
                        <td name="Nadd">@excel.Nall</td>
                        <td>
                            <button onclick="Storage.addExcelToStorage(this)">Добавить на складе</button>
                        </td>
                        <td class="hide" name="Date">@excel.Date.ToString("dd.MM.yyyy")</td>
                        <td class="hide" name="Price">@excel.Cost</td>
                    </tr>
                }
            }
            @foreach (var storage in storages)
            {
                <tr class="compare_only_storage">
                    <td>@storage.Inventory</td>
                    <td>@storage.Name</td>
                    <td>@storage.Date.ToString("d MMMM yyyy")</td>
                    <td>@storage.Account</td>
                    <td>@storage.Nstorage</td>
                    <td>@storage.Nrepairs</td>
                    <td>не найдено в 1С</td>
                    <td>
                        <button onclick="Storage.openCart('@storage.Inventory')">Карточка</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/Content/lib/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/core.js"></script>
    <script>

        var Storage = {

            addExcelToStorage(obj) {

                var excel = {};
                var $row = $(obj).closest('tr');

                $row.find('td[name]').each(function () { excel[this.getAttribute('name')] = this.innerHTML; });

                $.post('@Url.Action("AddExcelToStorage", "Storages")', excel, () => {

                    $row.find('td[insert="Nis"]').html(excel.Nadd);
                    $row.find('td[insert="Nuse"]').html(0);
                    $row.find('td.hide').remove();
                    $row.removeClass('compare_not_found');
                    $row.attr('id', excel.NCard);

                    obj.onclick = () => Storage.openCart(excel.Ncard);
                    obj.innerHTML = 'Открыть карточку';
                });
            },

            addAllExcelsToStorage() {
                var $rows = $('#view').find('.compare_not_found button');
                if ($rows.length == 0) {
                    alert('Нет позиций, которые необходимо добавить');
                } else {
                    $rows.each(function () { this.click(); });
                }
            },

            openCart(ncard) {
                $("#cart").load("@Url.Action("", "asp")/storage_cart.asp?id=" + ncard + "&r=" + Math.random()).fadeIn(150);
                $(".selected").removeClass("selected");
                $("#" + ncard).addClass("selected");
            }
        };
    </script>
}