@{
    ViewBag.Title = "DEVIN | Склад";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <form method="get" action="@Url.Action(null, "storages")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li><li>
        <a class='has-icon' onmousedown='_menu(this)' menu='main'><div class='icon ic-menu'></div></a>
    </li>
}

@section styles {
    <link rel="stylesheet" href="~/content/lib/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/content/lib/select2.min.css" />
    <link rel="stylesheet" href="~/content/css/storage.css" />
}

@section scripts {
    <script src="~/content/lib/jquery-1.12.4.min.js"></script>
    <script src="~/content/lib/jquery-ui.min.js"></script>
    <script src="~/content/lib/select2.min.js"></script>
    <script src="~/content/js/core.js"></script>
    <script src="~/content/js/storage.js"></script>
    <script>
        var sortText = '@Request.QueryString.Get("search")';
        $('.view')
            .on('mousedown', '.unit:not(#solo) .caption th', function () { toggle(this) })
            .on('mousedown', '.items thead th:not(:first-child)', function () { _sort(this) });

        let links = {
            labels: '@Url.Action("labels", "storages")',
            list: '@Url.Action("list", "storages")'
        }

        setInterval(() => {
            if (document.getElementById(id)) {
                if (!document.getElementById(id).classList.contains('selected')) {
                    document.querySelectorAll('.selected').forEach(el => el.classList.remove('selected'));
                    document.getElementById(id).classList.add('selected');
                }
            }
        }, 50);

        function cartOpenBack() {
            $.get('@Url.Action("cart")/' + id, data => {
                document.getElementById('cart').innerHTML = data;
                $('#cart').fadeIn(100);
            });
        }


        function cartCreate() {

            let ncard = prompt('Введите инвентарный номер новой позиции. Он должен быть уникальным, так как используется в качестве идентификатора при оформлении ремонтов', 0);
            if (ncard != '') {
                $.post('@Url.Action("create")/' + ncard, data => {
                    id = data;
                    restore();
                    document.location.hash = '##' + data;
                });
            }
        }

        function cartSave() {

            let form = {};
            document.querySelector('#cart .cart-form').querySelectorAll('input,select,textarea').forEach(el => form[el.name] = el.type === 'checkbox' ? el.checked : el.value);

            $.post('@Url.Action("update")/' + id, form, data => {

                // Обработка ошибок валидации
                if (data.indexOf('error') > -1) {
                    document.getElementById('console').innerHTML = '<div class="error">' + data.replace('error:', '') + '</div>';
                }

                else if (data === 'Изменений не было') {
                    document.getElementById('console').innerHTML = '<div class="done">' + data + '</div>';
                }

                else {
                    document.getElementById('console').innerHTML = '<div class="done">' + data + '</div>';

                    // Перезагрузка карточки необходима, если поменялся инвентарный номер
                    if (data.indexOf("<div class='hide' id") > -1) {
                        id = document.querySelector('#console div.hide').innerHTML;
                        document.getElementById('console').innerHTML = '';
                        document.location.hash = '##' + id;
                        let i = setInterval(() => {
                            if (document.getElementById('console')) {
                                if (document.getElementById('console').innerHTML != data) {
                                    document.getElementById('console').innerHTML = '<div class="done">' + data + '</div>';
                                    clearInterval(i);
                                }
                            }
                        }, 50);
                    }

                    // Перезагрузка окна
                    $.get('@Url.Action("list")/' + document.location.search, data => document.getElementById('view').innerHTML = data);
                }
            });
        }

        function cartDelete() {

            if (!confirm('При удалении позиции со склада все записи о ремонтах и списаниях, созданные с ее использованием, будут повреждены. Это действие необратимо. Продолжить?')) return;

            $.post('@Url.Action("delete")/' + id, data => {
                $('#cart').fadeOut(100, () => document.getElementById('cart').innerHTML = '');
                let el = document.getElementById(id);
                el.parentNode.removeChild(el);
                document.location.hash = '';
            });
        }

        function allStoragesToRepair() {

            $.post("/devin/asp/storage_all_repairs.asp?r=" + Math.random(), selectionToForm("select", ";"), function (data) {
                $("#cart").addClass("repairs").html(data).fadeIn(150);
                removeAllSelection();
            });
        }

        function storageToRepair() {

            $.post("/devin/asp/storage_all_repairs.asp?r=" + Math.random(), "select=" + id + ";", function (data) {
                $("#cart").addClass("repairs").html(data).fadeIn(150);
            });
        }

    </script>
}

@section html {
    <div id="excl" class="panel">
        <form id="compare-form" method="POST" enctype="multipart/form-data" action="@Url.Action("import", "storages")">
            <b>Обработка выгрузки из 1С</b>
            <div>
                <input type="file" name="excel" />
            </div>
            <div>
                <input type="submit" value="Загрузить" />
                <input type="button" value="Закрыть" onclick="compare()" />
            </div>
        </form>
    </div>

    <div id="selected" class="panel">
        <div>Выбрано позиций: <b></b></div>
        <div><a onclick="allStoragesToRepair()">Оформить ремонты</a></div>
        <div><div id="move_select"></div><a onclick="storagesToGroup()">Переместить в группу</a></div>
        <div><a onclick="excelExports()">Распечатать бирки</a></div>
        <div><a onclick="removeAllSelection()">Сбросить выбор</a></div>
    </div>

    <div id="excelExports" class="panel">
        <div id="excelExportsLink"></div>
        <div><a onclick="closeExportsPanel()">Закрыть</a></div>
    </div>

    <ul class="context-menu" id="main">
        <li onclick="compare()">Импорт из 1C</li>
        <li onclick="Folder.create()">Создать группу</li>
        <li onclick="cartCreate()">Создать позицию на складе</li>
        <li onclick="document.location = '/devin/storage/labels/';">Просмотр прихода картриджей</li>
    </ul>

    <ul class="context-menu" id="group">
        <li onclick="Folder.update()">Переименовать</li>
        <li onclick="Folder.beforeMove()">Переместить</li>
        <li onclick="Folder.createInner()">Создать вложенную группу</li>
        <li onclick="Folder.clear()">Очистить</li>
        <li onclick="Folder.del()">Удалить</li>
    </ul>

    <ul class="context-menu" id="modal">
        <li></li>
        <li>Ок</li>
        <li onclick="$(this).parent().fadeOut(100)">Отмена</li>
    </ul>
}

@Html.Action("list")