@{
    ViewBag.Title = "DEVIN | Склад";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <form method="get" action="@Url.Action(null, "storages")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li><li>
        <a class="has-icon" onmousedown="_menu(this)" menu="main"><div class="icon ic-menu"></div></a>
    </li>
}

@section html {
    <div id="excl" class="panel">
        <form id="compare-form" method="POST" enctype="multipart/form-data" action="@Url.Action("import", "storages")">
            <b>Обработка выгрузки из 1С</b>
            <div>
                <input type="file" name="excel" />
            </div>
            <div>
                <input type="submit" value="Загрузить" />
                <input type="button" value="Закрыть" onclick="document.getElementById('excl').classList.remove('selection_visible');" />
            </div>
        </form>
    </div>

    <div id="selected" class="panel">
        <div>Выбрано позиций: <b></b></div>
        <div><a onclick="Storages.repairsSelected()">Оформить ремонты</a></div>
        <div>
            <select id="move_select" class="cart__field cart__field_autoWidth">
                <option value="0">Разместить отдельно</option>
                @using (var conn = Database.Connection())
                {
                    var folders = conn.Query<Folder>("SELECT * FROM Folders WHERE Type = 'storage' ORDER BY Name");
                    foreach (var folder in folders)
                    {
                        <option value="@folder.Id">@folder.Name</option>
                    }
                }
            </select>
            <br /><a onclick="Storages.move()">Переместить в группу</a>
        </div>
        <div><a onclick="Storages.labels()">Распечатать бирки</a></div>
        <div><a onclick="removeAllSelection()">Сбросить выбор</a></div>
    </div>

    <div class="context-menu" id="main">
        <div onclick="Storages.compare()">Импорт из 1C</div>
        <div onclick="Folders.create()">Создать группу</div>
        <div onclick="Storages.create()">Создать позицию на складе</div>
        <hr />
        <a href="~/storages/labels">Просмотр прихода картриджей</a>
        <a href="~/storages/analyze">Анализ расхода картриджей</a>
    </div>

    <ul class="context-menu" id="group">
        <li onclick="Folders.update()">Переименовать</li>
        <li onclick="Folders.beforeMove()">Переместить</li>
        <li onclick="Folders.createInner()">Создать вложенную группу</li>
        <li onclick="Folders.clear()">Очистить</li>
        <li onclick="Folders.del()">Удалить</li>
    </ul>

    <ul class="context-menu" id="modal">
        <li></li>
        <li>Ок</li>
        <li onclick="document.getElementById('modal').classList.remove('contextMenu_visible')">Отмена</li>
    </ul>
}

<script>let search = '@Request.QueryString.Get("search")';</script>
@Html.Action("list", new { search = Request.QueryString.Get("search") })