@using (var conn = Database.Connection())
{
    string formData = Request.Form.Get("select");
    if (string.IsNullOrEmpty(formData))
    {
        <div class="error">Не получен список выбранных элементов</div>
        return;
    }

    string sql = "SELECT Inventory, Name, Nstorage FROM Storages WHERE Inventory = '" + string.Join("' OR Inventory = '", formData.Split(new string[] { ";" }, StringSplitOptions.RemoveEmptyEntries)) + "' AND (Nstorage > 0) ORDER BY Inventory";

    var storages = conn.Query<Storage>(sql);
    if (storages.Count() == 0)
    {
        <div class="error">Нет элементов для оформления ремонтов</div>
        return;
    }

    <div id="off-group">
        <input type="text" value="Ремонты за @DateTime.Now.ToString("dd.MM.yyyy")" id="name-off-group" />
        <input type="checkbox" checked id="create-off-group" />
        <label for="create-off-group">Сгруппировать созданные ремонты</label>
    </div>

    <div class="hide" id="computers-first">
        <select class="computers" onchange="changeDevice(this)">
            <option value="0">? Не выбрано</option>
            @{
                var computers = AutoMapper.MapDynamic<Computer>(conn.Query(@"SELECT
                    Computers.Name,
                    Computers.Id,
                    Devices.Id          AS Devices_Id,
                    Devices.Name        AS Devices_Name,
                    Devices.Description AS Devices_Description
                FROM Devices
                LEFT OUTER JOIN Devices AS Computers ON (Devices.ComputerId = Computers.Id AND Computers.IsDeleted <> 1)
                WHERE (Devices.IsDeleted <> 1 AND Devices.IsOff <> 1 AND (Devices.Type <> 'CMP' OR (Devices.Type = 'CMP' AND Devices.Id NOT IN (
                    SELECT ComputerId FROM Devices WHERE ComputerId IS NOT NULL AND AND ComputerId <> '0' GROUP BY ComputerId
                ))))
                ORDER BY Computers.Name, Devices.Name"));

                foreach (var computer in computers)
                {
                    <optgroup label="@computer.Name">
                        <option value="@computer.Id">[компьютер] @computer.Name</option>
                        @foreach (var device in computer.Devices)
                        {
                            <option value="@device.Id">@device.Description</option>
                        }
                    </optgroup>
                }
            }
        </select>
    </div>

    <div class="cart-overflow small-text">
        <table>
            <thead>
                <tr>
                    <th>позиция</th>
                    <th>на какое устройство</th>
                    <th>кол-во</th>
                    <th>вирт.</th>
                </tr>
            </thead>
            <tbody id="repairs-positions">
                @foreach (var storage in storages)
                {
                    <tr class="pos@(storage.Inventory)">
                        <td>
                            @storage.Inventory [<span>@storage.Nstorage </span> шт. доступно]
                            <a onclick="removePosition(this)">Удалить</a>
                            <a onclick="separatePosition(this)" class="pos-separate">Разделить</a>
                            <br />@storage.Name
                        </td>
                        <td class="computers-container"></td>
                        <td>
                            <input class="number" type="number" value="0" onkeyup="verifyCounts(this)" onchange="verifyCounts(this)" />
                        </td>
                        <td>
                            <input type="checkbox" onchange="virtualVerifyCounts(this)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id='console'></div>

    <table class='cart-menu'>
        <tr>
            <td onclick='createRepairs()'>Сохранить</td>
            <td onclick='cartClose()'>Закрыть</td>
        </tr>
    </table>

    <script>
        // Копирование селекта с устройствами во все строки. Делается на клиенте, чтобы не пересылать одинаковые блоки по сети
        var computers = document.getElementById("computers-first").innerHTML;
        $("#cart").find(".computers-container").html(computers);
    </script>
}