@model Aida

@{
    string id = "aida" + Model.ID;
    string open = Request.Cookies.Get(id)?.Value ?? "";
}

<div class="unit @open" data-id="@id">
    <table class="caption">
        <tr>
            <th width="30px">
                <div class="icon ic-computer"></div>
            </th>
            <td width="150px"><b>@Model.RHost</b></td>
            <td width="150px">@Model.RUser</td>
            <td>@Model.RDateTime.ToString("dd.MM.yyyy") (@((DateTime.Now - Model.RDateTime).Days) дней)</td>
        </tr>
    </table>
    <div class="itemsBlock @(open == "open" ? "itemsBlock_expanded" : "")">
        @if (open == "open")
        {
            @Html.Partial("ComputerData", Model)
        }
    </div>
</div>