@{
    ViewBag.Title = "DEVIN | Каталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <input onkeyup="search(this)" placeholder="Поиск" value="" />
    </li><li>
        <a class='has-icon' onmousedown='_menu(this)' menu='main'><div class='icon ic-menu'></div></a>
    </li>
}

@section styles {
    <style>
        .view > table td {width: 50%;vertical-align: top}
        .view a {color: #000;text-decoration: none}
        .view a:hover {color: #007bd6}
        .items input {
            width: 100%;
            box-sizing: border-box;
            font: normal 12pt Segoe UI;
            border: 1px solid #fff;
        }
        .catalog-compares tr td:first-child {width: inherit}
        .cart-links div {word-break: break-word;max-width: 600px}
    </style>
}

@section scripts {
    <script src="~/content/lib/jquery-3.3.1.min.js"></script>
    <script src="~/content/js/core.js"></script>
    <script src="~/content/js/catalog.js"></script>
    <script>
        function cartOpen(node) {
            id = node.id;
            cartOpenBack();
            setHash(id);
        }

        function search(input) {
            var val = input.value.toLowerCase();
            if (val == "") {
                $(".items tbody tr").css("display", "table-row");
            } else {
                $(".items tbody tr").each(function () {
                    var text = this.querySelector("td").innerHTML.toLowerCase();
                    this.style.display = text.indexOf(val) > -1 ? 'table-row' : 'none';
                });
            }
        }

        function cartOpenBack() {
            $.get('@Url.Action("cart", "catalog")/' + id, data => {
                document.getElementById('cart').innerHTML = data;
                $("#cart").fadeIn(100);

                let el = document.getElementById(id);
                if (el) {
                    document.querySelectorAll('.selected').forEach(x => x.classList.remove('selected'));
                    el.classList.add('selected');
                }
            })
        }

        function getCart() {
            return (id.indexOf("prn") > -1) ? "printer" : "cartridge";
        }

        function createPrinter() {
            $.post('@Url.Action("createPrinter")', _id => document.location.hash = "##prn" + _id);
        }

        function createCartridge() {
            $.post('@Url.Action("createCartridge")', _id => document.location.hash = "##cart" + _id);
        }

        function cartSave() {
            let url = id.indexOf("prn") > -1 ? '@Url.Action("savePrinter")' : '@Url.Action("saveCartridge")';
            let form = { Id: id.replace('prn', '').replace('cart', '') }
            document.querySelectorAll('.cart-form input,.cart-form select,.cart-form textarea').forEach(el => form[el.name] = el.value);

            $.post(url, form, data => document.getElementById("console").innerHTML = data);
        }

        function cartDelete() {
            let url = id.indexOf("prn") > -1 ? '@Url.Action("deletePrinter")' : '@Url.Action("deleteCartridge")';
            let _id = id.replace('prn', '').replace('cart', '');

            $.post(url + '/' + _id, () => {
                $(".view .selected").remove();
                cartClose();
            });
        }

        function addCompare() {
            $.post('@Url.Action("createCompare")', {
                compare: document.getElementById("new-compare").value,
                active: getCart(),
                id: id
            }, cartOpenBack);
        }

        function delCompare(div) {
            $.post('@Url.Action("deleteCompare")', {
                compare: div.parentNode.getAttribute("data-id"),
                active: getCart(),
                id: id
            }, cartOpenBack);
        }
    </script>
}

@section html {
    <div class="context-menu" id="main">
        <a href="~/storages/analyze">Расход картриджей</a>
        <div onclick="createPrinter()">Создать принтер</div>
        <div onclick="createCartridge()">Создать картридж</div>
    </div>
}

@using (var conn = Database.Connection())
{
    var printers = conn.Query<Printer>("SELECT N as Id, Caption FROM PRINTER ORDER BY Caption");
    var cartridges = conn.Query<Cartridge>("SELECT N as Id, Caption FROM CARTRIDGE ORDER BY Caption");

    <table>
        <tr>
            <td>
                <div class="unit">
                    <table class="caption">
                        <tr>
                            <th>Принтеры</th>
                        </tr>
                    </table>
                    <table class="items">
                        @foreach (var printer in printers)
                        {
                            <tr>
                                <td><a href="##prn@(printer.Id)">@printer.Caption</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td>
                <div class="unit">
                    <table class="caption">
                        <tr>
                            <th>Картриджи</th>
                        </tr>
                    </table>
                    <table class="items">
                        @foreach (var cartridge in cartridges)
                        {
                            <tr>
                                <td><a href="##cart@(cartridge.Id)">@cartridge.Caption</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
}