@model int

@using (var conn = Database.Connection())
{
    var printer = conn.Query<Printer>("SELECT * FROM Printers WHERE Id = @Model", new { Model }).FirstOrDefault();
    if (printer == null)
    {
        <div class="error">Нет данных по данному идентификатору</div>
        return;
    }
    
    <div class="cart__header">
        <div>@printer.Name</div>
        <div class="cart__closeButton" title="Закрыть карточку" onclick="cartClose()">
            <i class="icon ic-clear icon_white icon_no-hover"></i>
        </div>
    </div>

    <div class="cart__body">

        <table id="form">
            <tr>
                <td>Наименование</td>
                <td><input class="cart__field" name="Name" value="@printer.Name" placeholder="Наименование принтера" /></td>
            </tr>
            <tr>
                <td>Описание</td>
                <td><textarea class="cart__field" name="Description">@printer.Description</textarea></td>
            </tr>
        </table>

        <table>
            <tr>
                <td colspan="2">
                    <br /><b class="cart__caption">Связи с типовыми картриджами:</b>
                </td>
            </tr>
            @{
                var compared = conn.Query<Cartridge>("SELECT Id, Name FROM PrintersCartridges INNER JOIN Cartridges ON Cartridges.Id = PrintersCartridges.CartridgeId WHERE PrintersCartridges.PrinterId = @Model ORDER BY Name", new { Model });

                if (compared.Count() == 0)
                {
                    <tr>
                        <td colspan="2">Не установлено ни одной связи</td>
                    </tr>
                }

                foreach (var cartridge in compared)
                {
                    <tr>
                        <td><a class="cart__link" href="~/catalog/##cart@(cartridge.Id)">@cartridge.Name</a></td>
                        <td width="30px">
                            <button class="cart__button" onclick="Catalog.remove({ CartridgeId: @cartridge.Id, PrinterId: @printer.Id  })">
                                <div class="icon ic-clear"></div>
                            </button>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td>
                    <select class="cart__field" id="new-compare">
                        <option value="0">?</option>
                        @{
                            var notCompared = conn.Query<Cartridge>(@"SELECT Cartridges.Id, Cartridges.Name
                                            FROM Cartridges
                                            WHERE Cartridges.Id NOT IN (
                                                SELECT Cartridges.Id
                                                FROM Cartridges
                                                INNER JOIN PrintersCartridges ON PrintersCartridges.CartridgeId = Cartridges.Id
                                                INNER JOIN Printers ON PrintersCartridges.PrinterId = Printers.Id
                                                WHERE (Printers.Id = @Model)
                                                GROUP BY Cartridges.Id )
                                            ORDER BY Cartridges.Name", new { Model });

                            foreach (var cartridge in notCompared)
                            {
                                <option value="@cartridge.Id">@cartridge.Name</option>
                            }
                        }
                    </select>
                </td>
                <td width="30px">
                    <button class="cart__button" onclick="Catalog.add({ CartridgeId: document.getElementById('new-compare').value, PrinterId: @printer.Id })">
                        <div class="icon ic-add"></div>
                    </button>
                </td>
            </tr>
        </table>

        <br /><b class="cart__caption">Связанные устройства:</b>
        <div class="catalogLinks">
            @{
                var devices = conn.Query<Device>("SELECT Devices.Id, Computers.Name, Devices.PublicName, Devices.Location FROM Devices LEFT OUTER JOIN Devices AS Computers ON Computers.Id = Devices.ComputerId WHERE Devices.PrinterId = @Model", new { Model });
                foreach (var device in devices)
                {
                    <div>
                        <a class="cart__link" href="~/devices/##@(device.Id)">@device.Name @device.PublicName</a>
                        <small>@device.Location</small>
                    </div>
                }
            }
        </div>
    </div>

    <div class="cart__menu">
        <button class="cart__button" onclick="Catalog.update()">Сохранить</button>
        <button class="cart__button" onclick="Catalog.del()">Удалить</button>
        <button class="cart__button" onclick="cartClose()">Закрыть</button>
    </div>
}