@model int

@using (var conn = Database.Connection())
{
    var printer = conn.Query<Printer>("SELECT N as Id, Caption, Description FROM Printer WHERE N = @Model", new { Model }).FirstOrDefault();
    if (printer == null)
    {
        <div class="error">Нет данных по данному идентификатору</div>
        return;
    }

    <div class="cart-header">@printer.Caption</div>

    <div class="cart-overflow">

        <table class="cart-table cart-form">
            <tr>
                <td>Наименование</td>
                <td><input name="Caption" value="@printer.Caption" placeholder="Наименование принтера" /></td>
            </tr>
            <tr>
                <td>Описание</td>
                <td><textarea name="Description">@printer.Description</textarea></td>
            </tr>
        </table>

        <table class="cart-table catalog-compares">
            <tr>
                <td>
                    <br /><b>Связи с типовыми картриджами:</b>
                </td>
            </tr>
            @{
                var compared = conn.Query<Cartridge>("SELECT N as Id, Caption FROM Office INNER JOIN Cartridge ON Cartridge.N = Office.Cartridge WHERE Office.Printer = @Model ORDER BY Caption", new { Model });

                if (compared.Count() == 0)
                {
                    <tr>
                        <td>Не установлено ни одной связи</td>
                    </tr>
                }

                foreach (var cartridge in compared)
                {
                    <tr>
                        <td><a href="~/catalog/##cart@(cartridge.Id)">@cartridge.Caption</a></td>
                        <td width="30px" data-id="@cartridge.Id">
                            <div class="icon ic-clear" onclick="delCompare(this)"></div>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td>
                    Добавить связь:
                    <select id="new-compare">
                        <option value="0">?</option>
                        @{
                            var notCompared = conn.Query<Cartridge>(@"SELECT CARTRIDGE.N AS Id, CARTRIDGE.Caption
                                FROM CARTRIDGE
                                WHERE CARTRIDGE.N NOT IN (
                                    SELECT CARTRIDGE.N
                                    FROM CARTRIDGE
                                    INNER JOIN OFFICE ON OFFICE.Cartridge = CARTRIDGE.N
                                    INNER JOIN PRINTER ON OFFICE.Printer = PRINTER.N
                                    WHERE (PRINTER.N = @Model)
                                    GROUP BY CARTRIDGE.N )
                                ORDER BY CARTRIDGE.Caption", new { Model });

                            foreach (var cartridge in notCompared)
                            {
                                <option value="@cartridge.Id">@cartridge.Caption</option>
                            }
                        }
                    </select>
                </td>
                <td width="30px">
                    <div class="icon ic-add" onclick="addCompare()"></div>
                </td>
            </tr>
        </table>

        <br /><b>Связанные устройства:</b>
        <div class="cart-links">
            @{
                var devices = conn.Query<Device>("SELECT number_device AS DeviceNumber, Name, Description, attribute AS Location FROM DEVICE WHERE ID_prn = @Model", new { Model });

                foreach (var device in devices)
                {
                    <div>
                        <a href="~/devices/##@(device.DeviceNumber)"><b>@device.Name</b> @device.Description</a>
                        <br />
                        <small>@device.Location</small>
                    </div>
                }
            }
        </div>
    </div>

    <div id="console"></div>

    <table class="cart-menu">
        <tr>
            <td onclick="cartSave()">Сохранить</td>
            <td onclick="cartDelete()">Удалить</td>
            <td onclick="cartClose()">Закрыть</td>
        </tr>
    </table>
}