@model int

@using (var conn = Database.Connection())
{
    var printer = conn.Query<Printer>("SELECT * FROM Printers WHERE Id = @Model", new { Model }).FirstOrDefault();
    if (printer == null)
    {
        <div class="error">Нет данных по данному идентификатору</div>
        return;
    }

    <div class="cart-header">@printer.Name</div>

    <div class="cart-overflow">

        <table class="cart-table cart-form">
            <tr>
                <td>Наименование</td>
                <td><input name="Name" value="@printer.Name" placeholder="Наименование принтера" /></td>
            </tr>
            <tr>
                <td>Описание</td>
                <td><textarea name="Description">@printer.Description</textarea></td>
            </tr>
        </table>

        <table class="cart-table catalog-compares">
            <tr>
                <td>
                    <br /><b>Связи с типовыми картриджами:</b>
                </td>
            </tr>
            @{
                var compared = conn.Query<Cartridge>("SELECT Id, Name FROM PrintersCartridges INNER JOIN Cartridges ON Cartridges.Id = PrintersCartridges.CartridgeId WHERE PrintersCartridges.PrinterId = @Model ORDER BY Name", new { Model });

                if (compared.Count() == 0)
                {
                    <tr>
                        <td>Не установлено ни одной связи</td>
                    </tr>
                }

                foreach (var cartridge in compared)
                {
                    <tr>
                        <td><a href="~/catalog/##cart@(cartridge.Id)">@cartridge.Name</a></td>
                        <td width="30px" data-id="@cartridge.Id">
                            <div class="icon ic-clear" onclick="delCompare(this)"></div>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td>
                    Добавить связь:
                    <select id="new-compare">
                        <option value="0">?</option>
                        @{
                            var notCompared = conn.Query<Cartridge>(@"SELECT Cartridges.Id, Cartridges.Name
                                FROM Cartridges
                                WHERE Cartridges.Id NOT IN (
                                    SELECT Cartridges.Id
                                    FROM Cartridges
                                    INNER JOIN PrintersCartridges ON PrintersCartridges.CartridgeId = Cartridges.Id
                                    INNER JOIN Printers ON PrintersCartridges.PrinterId = Printers.Id
                                    WHERE (Printers.Id = @Model)
                                    GROUP BY Cartridges.Id )
                                ORDER BY Cartridges.Name", new { Model });

                            foreach (var cartridge in notCompared)
                            {
                                <option value="@cartridge.Id">@cartridge.Name</option>
                            }
                        }
                    </select>
                </td>
                <td width="30px">
                    <div class="icon ic-add" onclick="addCompare()"></div>
                </td>
            </tr>
        </table>

        <br /><b>Связанные устройства:</b>
        <div class="cart-links">
            @{
                var devices = conn.Query<Device>("SELECT Id, Name, Description, Location FROM Devices WHERE PrinterId = @Model", new { Model });

                foreach (var device in devices)
                {
                    <div>
                        <a href="~/devices/##@(device.Id)"><b>@device.Name</b> @device.Description</a>
                        <br />
                        <small>@device.Location</small>
                    </div>
                }
            }
        </div>
    </div>

    <div id="console"></div>

    <table class="cart-menu">
        <tr>
            <td onclick="cartSave()">Сохранить</td>
            <td onclick="cartDelete()">Удалить</td>
            <td onclick="cartClose()">Закрыть</td>
        </tr>
    </table>
}