<link rel="stylesheet" href="~/Content/css/core.css" />

@using (var db = new DevinContext())
{
	var divisions = db.Officials
		.GroupBy(x => x.Division)
		.Select(x => x.Key)
		.ToList();

	<div class="cart_visible">
		<div class="cart__header">
			<div>Добавление должностного лица</div>
		</div>
		<div class="cart__body">
			<table id="form" class="cart__table">
				<tr>
					<td>Подразделение</td>
					<td>
						<select class="cart__field" name="Division">
							<option value="">? не выбрано</option>
							@foreach (var division in divisions)
							{
								<option value="@division">@division</option>
							}
						</select>
					</td>
				</tr>
				<tr>
					<td>Наименование</td>
					<td>
						<input class="cart__field" name="Name" placeholder="Введите наименование" />
					</td>
				</tr>
				<tr>
					<td>Должность для печати</td>
					<td>
						<input class="cart__field" name="Title" placeholder="Введите должность" />
					</td>
				</tr>
				<tr>
					<td>Должность для печати (в случае и.о.)</td>
					<td>
						<input class="cart__field" name="TitleReplace" placeholder="Введите должность" />
					</td>
				</tr>
			</table>
		</div>
		<div class="cart__menu">
			<button class="cart__button" onclick="submit()">Добавить</button>
			<button class="cart__button" onclick="back()">Закрыть</button>
		</div>
	</div>
}

<script>
	

	function submit() {

		let body = new FormData()
		let form = document.getElementById('form')
		let items = form.querySelectorAll('[name]')
		items.forEach(el => body.append(el.name, el.value))

		fetch('@Url.Action("Create", "Officials")', { method: 'POST', body: body })
			.then(res => res.json())
			.then(json => {
				if (json.Error) alert(json.Error)
				if (json.Done) {
					alert(json.Done)
					location = '@Url.Action("", "Officials")'
				}
			})
			.catch(() => alert('Ошибка сервера'))
	}

	function back() {
		location = '@Url.Action("", "Officials")'
	}
</script>