@model string

@using (var db = new DevinContext())
{
    int Id = int.Parse(Model.Replace("repair", ""));
    var repair = db.Repairs.FirstOrDefault(x => x.Id == Id);

    if (repair == null)
    {
        <div class="cart__header">
            <div></div>
            <div class="cart__closeButton" title="Закрыть карточку" onclick="Cart.close()">
                <i class="icon ic-clear icon_white icon_no-hover"></i>
            </div>
        </div>
        <div class="cart__body">Нет данных по данному идентификатору</div>
        return;
    }

    <div class="cart__header">
        <div>Ремонт #@repair.Id</div>
        <div class="cart__closeButton" title="Закрыть карточку" onclick="Cart.close()">
            <i class="icon ic-clear icon_white icon_no-hover"></i>
        </div>
    </div>

    <div class="tabsSelector">
        <div class="tabsSelector__item tabsSelector__item_selected" data-tab="info">Информация</div>
        <div class="tabsSelector__item" data-tab="device">Объект</div>
        <div class="tabsSelector__item" data-tab="storage">Позиция</div>
        <div class="tabsSelector__item" data-tab="history">Логи</div>
    </div>

    <div class="tabsContainer">
        <div class="tabsContainer__item tabsContainer__item_selected" data-tab="info">
            <table class="cart__table" id="form">

                <tr>
                    <td width="200px">Объект ремонта</td>
                    <td>
                        <select class="cart__field" name="@nameof(repair.DeviceId)" v_select>
                            @{ 
                                var devices = db.Devices
                                    .OrderBy(x => x.Type)
                                    .ThenBy(x => x.Name)
                                    .Select(x => new { x.Id, x.Name, x.Description })
                                    .ToList();

                                foreach (var device in devices)
                                {
                                    <option value="@device.Id" @(device.Id == repair.DeviceId ? "selected" : "")>@device.Name @device.Description</option>
                                }
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Позиция со склада</td>
                    <td>
                        <select class="cart__field" name="@nameof(repair.StorageId)" v_select>
                            @{ 
                                var storages = db.Storages
                                    .OrderBy(x => x.Inventory)
                                    .Select(x => new { x.Id, x.Name })
                                    .ToList();
                                
                                foreach (var storage in storages)
                                {
                                    <option value="@storage.Id" @(storage.Id == repair.StorageId ? "selected" : "")>@storage.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Кол-во единиц исп.</td>
                    <td><input class="cart__field" name="@nameof(repair.Number)" value="@repair.Number" type="number" min="0" onblur="this.value = Math.round(this.value)"/></td>
                </tr>

                <tr>
                    <td>Создал ремонт</td>
                    <td>@repair.Author</td>
                </tr>

                <tr>
                    <td>Дата проведения</td>
                    <td><input class="cart__field" name="@nameof(repair.Date)" value="@repair.Date.ToString("dd.MM.yyyy HH:mm:ss")" /></td>
                </tr>

                <tr>
                    <td>Списан</td>
                    <td>
                        <select class="cart__field" name="@nameof(repair.IsOff)">
                            <option value="false">Нет</option>
                            <option value="true" @(repair.IsOff ? "selected" : "")>Да</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Виртуальный</td>
                    <td>
                        <select class="cart__field" name="@nameof(repair.IsVirtual)">
                            <option value="false">Нет</option>
                            <option value="true" @(repair.IsVirtual ? "selected" : "")>Да</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Расположение</td>
                    <td>
                        <select class="cart__field" name="Destination">
                            <option value="0">Не распределен</option>
                            @{
                                var writeoffs = db.Writeoffs
                                    .OrderByDescending(x => x.Date)
                                    .Select(x => new { x.Id, x.Name })
                                    .ToList();

                                foreach (var writeoff in writeoffs)
                                {
                                    <option value="off@(writeoff.Id)" @(writeoff.Id == repair.WriteoffId ? "selected" : "")>[списание] @writeoff.Name</option>
                                }

                                var folders = db.Folders
                                    .Where(x => x.Type == "repair")
                                    .OrderBy(x => x.Name)
                                    .Select(x => new { x.Id, x.Name })
                                    .ToList();

                                foreach (var folder in folders)
                                {
                                    <option value="folder@(folder.Id)" @(folder.Id == repair.FolderId ? "selected" : "")>[папка] @folder.Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>

            </table>
            <div class="cart__menu">
                <button class="cart__button" onclick="Repairs.Cart.update(@repair.Id)">Сохранить</button>
                <button class="cart__button" onclick="Repairs.Cart.del(@repair.Id)">Удалить</button>
            </div>
        </div>
        <div class="tabsContainer__item" data-tab="device" data-tab-lazy="@Url.Action("device", "repairs", new { Id = repair.DeviceId })"></div>
        <div class="tabsContainer__item" data-tab="storage" data-tab-lazy="@Url.Action("storage", "repairs", new { Id = repair.StorageId })"></div>
        <div class="tabsContainer__item" data-tab="history" data-tab-lazy="@Url.Action("history", "repairs", new { Id = repair.Id })"></div>
    </div>
}