@{
    ViewBag.Title = "DEVIN | Годовой отчет по заменам картриджей";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DateTime date = DateTime.TryParse("01.01." + (Request.QueryString.Get("year") ?? ""), out DateTime d) ? d : DateTime.Now;
}

<form action="@Url.Action("cartridgesUsage", "repairs")" method="get" class="filter">
    Сводная таблица по заменам картриджей на
    <select class="cart__field cart__field_autoWidth" name="year">
        @for (int i = 2016; i < DateTime.Now.Year + 1; i++)
        {
            <option value="@i" @(i == date.Year ? "selected" : "")>@i</option>
        }
    </select>
    год &emsp;&emsp;&emsp;
    <input class="cart__button" type="submit" value="Запрос данных" />
</form>
<br />

@using (var conn = Database.Connection())
{
    var cartridges = AutoMapper.MapDynamic<Cartridge>(conn.Query(@"SELECT
		Cartridges.Id,
        Cartridges.Name,
		Repairs.Id     AS Repairs_Id,
        Repairs.Date   AS Repairs_Date,
        Repairs.Number AS Repairs_Number
    FROM Repairs
    LEFT OUTER JOIN Storages
		LEFT OUTER JOIN Cartridges ON Cartridges.Id = Storages.CartridgeId
    ON Storages.Id = Repairs.StorageId
    WHERE Storages.Type = 'PRN' AND Year(Repairs.Date) = @Year
    ORDER BY Cartridges.Name", new { date.Year }));

    if (cartridges.Count() > 0)
    {
        int[] countsByMonths = new int[12] { 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 };

        <table class="stats">
			<thead>
				<tr>
					<th data-type="string">Тип картриджа</th>
					<th data-type="number" width="50px">Январь</th>
					<th data-type="number" width="50px">Февраль</th>
					<th data-type="number" width="50px">Март</th>
					<th data-type="number" width="50px">Апрель</th>
					<th data-type="number" width="50px">Май</th>
					<th data-type="number" width="50px">Июнь</th>
					<th data-type="number" width="50px">Июль</th>
					<th data-type="number" width="50px">Август</th>
					<th data-type="number" width="50px">Сентябрь</th>
					<th data-type="number" width="50px">Октябрь</th>
					<th data-type="number" width="50px">Ноябрь</th>
					<th data-type="number" width="50px">Декабрь</th>
					<th data-type="number" width="50px">Всего</th>
				</tr>
			</thead>
			<tbody>
			    @foreach (var cartridge in cartridges)
                {
                    int allCount = 0;

                    <tr>
                        <td>
                            <a href="~/catalog/##cart@(cartridge.Id)">@cartridge.Name</a>
                        </td>
                        @for (int i = 0; i < 12; i++)
                        {
                            int count = cartridge.Repairs.Where(r => r.Date.Month == (i + 1)).Select(r => r.Number).Sum();
                            allCount += count;
                            countsByMonths[i] += count;

                            <td>@(count == 0 ? "" : count.ToString())</td>
                        }

                        <td><b>@allCount</b></td>
                    </tr>
                }
                <tr class="summary">
                    <td>Итого</td>
                    @for (int i = 0; i < 12; i++)
                    {
                        <td>@(countsByMonths[i] == 0 ? "" : countsByMonths[i].ToString())</td>
                    }
                    <td><b>@countsByMonths.Sum()</b></td>
                </tr>
            </tbody>
        </table>
        <br />
    }

    var devices = AutoMapper.MapDynamic<Device>(conn.Query(@"SELECT
	    Devices.Id,
	    Devices.Description,
	    Devices.Location,
	    Repairs.Id     AS Repairs_Id,
	    Repairs.Date   AS Repairs_Date,
	    Repairs.Number AS Repairs_Number
    FROM Repairs
    LEFT OUTER JOIN Devices ON Devices.Id = Repairs.DevicesId
    WHERE Devices.Type = 'PRN' AND Year(Repairs.Date) = @Year
    ORDER BY Devices.Description", new { date.Year }));

    if (devices.Count() > 0)
    {
        int[] countsByMonths = new int[12] { 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 };

        <table class="stats">
            <thead>
                <tr>
                    <th data-type="string">
                        Устройство<br />
                        <small>Расположение</small>
                    </th>
                    <th data-type="number" width="50px">Январь</th>
                    <th data-type="number" width="50px">Февраль</th>
                    <th data-type="number" width="50px">Март</th>
                    <th data-type="number" width="50px">Апрель</th>
                    <th data-type="number" width="50px">Май</th>
                    <th data-type="number" width="50px">Июнь</th>
                    <th data-type="number" width="50px">Июль</th>
                    <th data-type="number" width="50px">Август</th>
                    <th data-type="number" width="50px">Сентябрь</th>
                    <th data-type="number" width="50px">Октябрь</th>
                    <th data-type="number" width="50px">Ноябрь</th>
                    <th data-type="number" width="50px">Декабрь</th>
                    <th data-type="number" width="50px">Всего</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in devices)
                {
                    int allCount = 0;

                    <tr>
                        <td>
                            <a href="~/devices/##@(device.Id)">
                                @device.Description
                                <br />
                                <small>@device.Location</small>
                            </a>
                        </td>
                        @for (int i = 0; i < 12; i++)
                        {
                            int count = device.Repairs.Where(r => r.Date.Month == (i + 1)).Select(r => r.Number).Sum();
                            allCount += count;
                            countsByMonths[i] += count;

                            <td>@(count == 0 ? "" : count.ToString())</td>
                        }

                        <td><b>@allCount</b></td>
                    </tr>
                }
                <tr class="summary">
                    <td>Итого</td>
                    @for (int i = 0; i < 12; i++)
                    {
                        <td>@(countsByMonths[i] == 0 ? "" : countsByMonths[i].ToString())</td>
                    }
                    <td><b>@countsByMonths.Sum()</b></td>
                </tr>
            </tbody>
        </table>
    }
}