@model int

@using (var db = new DevinContext())
{
    var device = db.Devices
        .Where(x => x.Id == Model)
        .Select(x => new { x.Id, x.Inventory, x.Name, x.Description, x.Location, x.Mol, x.DateInstall, x.Type, x.PrinterId })
        .FirstOrDefault();

    if (device == null)
    {
        <div class="cart__body">Устройство не найдено</div>
        return;
    }

    <div class="cart__body">
        <table class="cart__table">
            <tbody>
                <tr>
                    <td>Инвентарный номер</td>
                    <td>@device.Inventory</td>
                </tr>
                <tr>
                    <td>Наименование</td>
                    <td>@device.Name</td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>@device.Description</td>
                </tr>
                <tr>
                    <td>Расположение</td>
                    <td>@device.Location</td>
                </tr>
                <tr>
                    <td>М.О.Л.</td>
                    <td>@device.Mol</td>
                </tr>
                <tr>
                    <td>Дата установки</td>
                    <td>@device.DateInstall.ToString("dd.MM.yyyy")</td>
                </tr>
                @if (device.Type == "PRN")
                {
                    var printer = db.Printers.Where(x => x.Id == device.PrinterId).FirstOrDefault();

                    if (printer == null)
                    {
                        <tr>
                            <td>Типовой принтер</td>
                            <td>не установлен</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Типовой принтер</td>
                            <td>@printer.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a class="cart__link" href="##device@(device.Id)">Карточка устройства</a>
    </div>
}