@using (var conn = Database.Connection())
{
    string id = Request.QueryString.Get("id");
    string search = Request.QueryString.Get("search");
    string where = string.IsNullOrEmpty(search)
        ? "" : $"WHERE Devices.Name LIKE '%{search}%' OR Devices.Description LIKE '%{search}%' OR Devices.Inventory LIKE '%{search}%' OR Storages.Name LIKE '%{search}%' OR Storages.Ncard Inventory '%{search}%'";

    var raw = conn.Query($@"SELECT
        Repairs.*

        ,Devices.Id          AS Device_Id
        ,Devices.Inventory   AS Device_Inventory
        ,Devices.Name        AS Device_Name
        ,Devices.Description AS Device_Description
        ,Devices.Type        AS Device_Type

        ,Storages.Id        AS Storage_Id
        ,Storages.Inventory AS Storage_Inventory
        ,Storages.Name      AS Storage_Name
        ,Storages.Nall      AS Storage_Nall
        ,Storages.Nstorage  AS Storage_Nstorage
        ,Storages.Nrepairs  AS Storage_Nrepairs
        ,Storages.Noff      AS Storage_Noff
        ,Storages.Cost      AS Storage_Cost
    FROM Repairs
    LEFT OUTER JOIN Devices   ON Repairs.DeviceId  = Devices.Id
    LEFT OUTER JOIN Storages  ON Repairs.StorageId = Storages.Id
    {where}
    ORDER BY Repairs.FolderId, Repairs.WriteoffId, Repairs.Date DESC");

    var _repairs = new List<Repair>();

    foreach (var row in raw)
    {
        _repairs.Add(new Repair
        {
            Id = row.Id,
            DeviceId = Convert.ToInt32(row.DeviceId),
            StorageId = Convert.ToInt32(row.StorageId),
            Date = row.Date,
            Author = row.Author,
            FolderId = Convert.ToInt32(row.FolderId),
            WriteoffId = Convert.ToInt32(row.WriteoffId),
            IsOff = row.IsOff,
            IsVirtual = row.IsVirtual,
            Number = Convert.ToInt32(row.Number),
            Device = new Device
            {
                Id = Convert.ToInt32(row.Device_Id),
                Inventory = row.Device_Inventory,
                Name = row.Device_Name,
                Description = row.Device_Description,
                Type = row.Device_Type
            },
            Storage = new Storage
            {
                Id = Convert.ToInt32(row.Storage_Id),
                Inventory = row.Storage_Inventory,
                Name = row.Storage_Name,
                Nall = Convert.ToInt32(row.Storage_Nall),
                Nstorage = Convert.ToInt32(row.Storage_Nstorage),
                Nrepairs = Convert.ToInt32(row.Storage_Nrepairs),
                Noff = Convert.ToInt32(row.Storage_Noff),
                Cost = Convert.ToSingle(row.Storage_Cost)
            }
        });
    }

    if (!string.IsNullOrEmpty(search))
    {
        <div class='unit'>
            <table class='caption'>
                <tr>
                    <th>Поиск совпадений по запросу: @search</th>
                </tr>
            </table>
            @RenderItems(_repairs)
        </div>
    }
    else
    {
        var _writeoffs = conn.Query<Writeoff>(@"SELECT
            Writeoffs.Id
            ,Writeoffs.Name
            ,Writeoffs.Date
            ,TypesWriteoffs.Name AS [Type]
            ,Folders.Id          AS [FolderId]
        FROM Writeoffs
        LEFT OUTER JOIN TypesWriteoffs ON Writeoffs.Type = TypesWriteoffs.Id
        LEFT OUTER JOIN Folders ON Writeoffs.FolderId = Folders.Id
        ORDER BY Writeoffs.Date DESC").AsList();

        var _folders = conn.Query<Folder>(@"SELECT
            Folders.Id,
            CASE WHEN Parents.Id IS NULL THEN 0 ELSE Parents.Id END AS FolderId,
            Folders.Name
        FROM Folders
        LEFT OUTER JOIN Folders AS Parents ON Folders.FolderId = Parents.Id
        WHERE Folders.Type = 'repair'
        ORDER BY Folders.Name").AsList();

        var repairs = new List<Repair>();
        var writeoffs = new List<Writeoff>();
        var folders = new List<Folder>();
        bool found;

        foreach (var repair in _repairs)
        {
            found = false;
            foreach (var writeoff in _writeoffs)
            {
                if (repair.WriteoffId == writeoff.Id)
                {
                    writeoff.Repairs.Add(repair);
                    found = true;
                    break;
                }
            }

            if (!found)
            {
                foreach (var folder in _folders)
                {
                    if (repair.FolderId == folder.Id)
                    {
                        folder.Repairs.Add(repair);
                        found = true;
                        break;
                    }
                }

                if (!found)
                {
                    repairs.Add(repair);
                }
            }
        }

        foreach (var writeoff in _writeoffs)
        {
            found = false;
            foreach (var folder in _folders)
            {
                if (writeoff.FolderId == folder.Id)
                {
                    folder.Writeoffs.Add(writeoff);
                    found = true;
                    break;
                }
            }

            if (!found)
            {
                writeoffs.Add(writeoff);
            }
        }

        foreach (var folder in _folders)
        {
            if (folder.FolderId == 0)
            {
                folders.Add(Folder.Build(folder, _folders));
            }
        }


        <div class="unit" id="solo">
            <table class="caption">
                <tr>
                    <td width="24px"><div class="icon ic-cached"></div></td>
                    <th>Не распределенные ремонты</th>
                </tr>
            </table>
            @RenderItems(repairs)
        </div>

        foreach (var writeoff in writeoffs)
        {
            @RenderWriteoff(writeoff)
        }

        foreach (var folder in folders)
        {
            @RenderFolder(folder)
        }
    }
}

@helper RenderFolder(Folder folder)
{
    string id = "rg" + folder.Id;
    string open = Request.Cookies.Get(id)?.Value ?? "";

    <div class="unit group @open" id="@id">
        <table class='caption'>
            <tr>
                <td width='24px' menu='group' onmousedown='_menu(this)'>
                    <div class='icon ic-folder'></div>
                </td>
                <th>@folder.Name</th>
            </tr>
        </table>
        <div class="items_block @(open == "open" ? "" : "hide")">
            @foreach (var sub in folder.SubFolders)
            {
                @RenderFolder(sub)
            }
            @foreach (var writeoff in folder.Writeoffs)
            {
                @RenderWriteoff(writeoff)
            }
            @RenderItems(folder.Repairs)
        </div>
    </div>
}

@helper RenderWriteoff(Writeoff writeoff)
{
    string id = "off" + writeoff.Id;
    string open = Request.Cookies.Get(id)?.Value ?? "";

    <div class="unit writeoff @open">
            <table class="caption">
                <tr>
                    <td width="30px">
                        <div class="icon ic-info-outline" menu="writeoff" onmousedown="_menu(this)"></div>
                    </td>
                    <th>@writeoff.Name</th>
                    <td width="250px">@writeoff.Type</td>
                    <td width="150px">@writeoff.AllCost() р.</td>
                    <td width="70px">@writeoff.Date.ToString("dd.MM.yyyy")</td>
                </tr>
            </table>
            <div class="items_block @(open == "open" ? "" : "hide")">
                <div class='title-wrapper' id='@id'>
                    <a class="title view__link" href="##off@(writeoff.Id)">Открыть карточку списания</a>
                </div>
                @RenderItems(writeoff.Repairs)
            </div>
        </div>
}

@helper RenderItems(List<Repair> repairs)
{
    if (repairs.Count == 0) { return; }
    <table class="items">
        @RenderHead()
        <tbody>
            @foreach (var repair in repairs)
            {
                <tr id="@repair.Id" class="item">
                    <td><input type="checkbox" class="selecter" /></td>
                    <td>
                        <a class="view__link" href="##@(repair.Id)"><b>@(repair.Device?.Name)</b> @(repair.Device?.Description)</a>
                    </td>
                    <td>
                        <a class="view__link" href="##@(repair.Id)"><div class="led @repair.Storage.Led()"></div> @repair.Storage.Name</a>
                    </td>
                    <td>
                        <a class="view__link" href="##@(repair.Id)">@repair.Number</a>
                    </td>
                    <td>
                        <a class="view__link" href="##@(repair.Id)">@((repair.Number * repair.Storage.Cost).ToString("0.00")) р.</a>
                    </td>
                    <td>
                        <a class="view__link" href="##@(repair.Id)"><input type="checkbox" disabled @(repair.IsOff ? "checked" : "") /></a>
                    </td>
			        <td>
                        <a class="view__link" href="##@(repair.Id)"><input type="checkbox" disabled @(repair.IsVirtual ? "checked" : "") /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@helper RenderHead()
{
    <thead>
        <tr>
            <td width="20px"><input type="checkbox" class="selecter-all" /></td>
            <th data-type="string">объект ремонта</th>
            <th data-type="string" width="460px">деталь</th>
            <th data-type="number" width="50px">кол-во</th>
            <th data-type="number" width="70px">стоимость</th>
            <th data-type="date" width="70px">дата</th>
            <th data-type="string" width="40px">спис.</th>
            <th data-type="string" width="40px">вирт.</th>
        </tr>
    </thead>
}