@model List<Repair>

@if (Model.Count != 0)
{
    <table class="items">
        <thead>
            <tr>
                <td width="20px"><input type="checkbox" class="selecter-all" /></td>
                <th data-type="string">объект ремонта</th>
                <th data-type="string" width="460px">деталь</th>
                <th data-type="number" width="50px">кол-во</th>
                <th data-type="number" width="70px">стоимость</th>
                <th data-type="date" width="70px">дата</th>
                <th data-type="string" width="40px">спис.</th>
                <th data-type="string" width="40px">вирт.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repair in Model)
            {
                string id = "repair" + repair.Id;
                string href = "##" + id;

                <tr id="@id" class="item">
                    <td><input type="checkbox" class="selecter" /></td>
                    <td>
                        <a class="view__link" href="@href"><b>@(repair.Device?.Name)</b> @(repair.Device?.PublicName)</a>
                    </td>
                    <td>
                        <a class="view__link" href="@href"><div class="led @repair.Storage.Led()"></div> @repair.Storage.Name</a>
                    </td>
                    <td>
                        <a class="view__link" href="@href">@repair.Number</a>
                    </td>
                    <td>
                        <a class="view__link" href="@href">@((repair.Number * repair.Storage.Cost).ToString("0.00")) р.</a>
                    </td>
                    <td>
                        <a class="view__link" href="@href">@repair.Date.ToString("dd.MM.yyyy")</a>
                    </td>
                    <td>
                        <a class="view__link" href="@href"><input type="checkbox" disabled @(repair.IsOff ? "checked" : "") /></a>
                    </td>
                    <td>
                        <a class="view__link" href="@href"><input type="checkbox" disabled @(repair.IsVirtual ? "checked" : "") /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}