@model int

@using (var db = new DevinContext())
{
    var storage = db.Storages
        .Where(x => x.Id == Model)
        .FirstOrDefault();

    if (storage == null)
    {
        <div class="cart__body">Позиция не найдено</div>
        return;
    }

    <div class="cart__body">
        <table class="cart__table">
            <tbody>
                <tr>
                    <td>Инвентарный номер</td>
                    <td>@storage.Inventory</td>
                </tr>
                <tr>
                    <td>Наименование</td>
                    <td>@storage.Name</td>
                </tr>
                <tr>
                    <td>Стоимость</td>
                    <td>@storage.Cost.ToString("0.00")</td>
                </tr>
                <tr>
                    <td>Счет учета</td>
                    <td>@storage.Account</td>
                </tr>
                <tr>
                    <td>Дата прихода</td>
                    <td>@storage.Date.ToString("dd.MM.yyyy")</td>
                </tr>
                @if (storage.Type == "PRN")
                {
                    var cartridge = db.Cartridges
                        .Where(x => x.Id == storage.CartridgeId)
                        .FirstOrDefault();

                    if (cartridge == null)
                    {
                        <tr>
                            <td>Типовой картридж</td>
                            <td>не установлен</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Типовой картридж</td>
                            <td>@cartridge.Name</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2">
                        <br />Всего <b>@storage.Nall</b>, из них
                        <b>@storage.Nstorage</b> на складе,
                        <b>@storage.Nrepairs</b> в ремонтах,
                        <b>@storage.Noff</b> списано
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="cart__link" href="##storage@(storage.Id)">Карточка позиции</a>
    </div>
}