@{
    ViewBag.Title = "DEVIN | Ремонты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/content/css/repair.css" />
}

@section scripts {
    <script src="~/content/lib/jquery-3.3.1.min.js"></script>
    <script src="~/content/js/core.js"></script>
    <script>
        function toggle(node) {
            $(node).closest('.unit').find('.items_block').slideToggle(100);
        }
    </script> 
}

<div id="summary"></div>
<br />

@using (var conn = Database.Connection())
{
    var writeoffs = AutoMapper.MapDynamic<Writeoff>(conn.Query(@"SELECT
        Writeoffs.Id ,
        Writeoffs.Date,
        Writeoffs.Name,
        Repairs.Id                       AS Repairs_Id,
        Repairs.Number                   AS Repairs_Units,
        (Repairs.Number * Storages.Cost) AS Repairs_StoragePrice,
        Repairs.Date                     AS Repairs_Date,
        Repairs.Author                   AS Repairs_Author,
        Devices.Id                       AS Repairs_Device_Id,
        Devices.Name                     AS Repairs_Device_Name,
        Devices.Description              AS Repairs_Device_Description,
        Storages.Id                      AS Repairs_Storage_Id,
        Storages.Inventory               AS Repairs_Storage_Inventory,
        Storages.Name                    AS Repairs_Storage_Name
    FROM Writeoffs
    LEFT OUTER JOIN Repairs  ON Writeoffs.Id      = Repairs.WriteoffId
    LEFT OUTER JOIN Devices  ON Repairs.DeviceId  = Devices.Id
    LEFT OUTER JOIN Storages ON Repairs.StorageId = Storages.Id
    WHERE Year(Writeoffs.Date) = Year(GetDate()) AND Repairs.IsOff = 1
    ORDER BY [Date], Id, Repairs_Date, Repairs_Device_Id"));

    if (writeoffs.Count() == 0)
    {
        <div>На заданный год нет оформленных списаний</div>
        return;
    }

    <div style="background: #fff; border: 1px solid #ccc; padding: 10px;">
        Общая стоимость всех ремонтов за год: @writeoffs.Select(w => w.Repairs.Select(r => r.StoragePrice).Sum()).Sum().ToString("0.00") р.
    </div>

    foreach (var writeoff in writeoffs)
    {
        <div class="unit">
            <table class="caption" onclick="toggle(this)">
                <tr>
                    <td width="80px">@writeoff.Date.ToString("dd.MM.yyyy")</td>
                    <th width="800px">@writeoff.Name</th>
                    <td width="140px">Кол-во: @writeoff.Repairs.Select(x => x.Number).Sum()</td>
                    <td>Стоимость: @writeoff.Repairs.Select(x => x.StoragePrice).Sum().ToString("0.00") р.</td>
                </tr>
            </table>
            <div class="items_block hide">
                <table class="items">
                    <thead>
                        <tr>
			                <th data-type="string">объект ремонта</th>
			                <th data-type="string" width="460px">деталь</th>
			                <th data-type="number" width="50px">кол-во</th>
			                <th data-type="number" width="80px">стоимость</th>
			                <th data-type="date" width="160px">дата</th>
			                <th data-type="string" width="100px">автор</th>
			            </tr>
                    </thead>
                    <tbody>
                        @foreach (var repair in writeoff.Repairs)
                        {
                            <tr>
                                <td><b>@repair.Device.Name</b> @repair.Device.Description</td>
                                <td>@repair.Storage.Name</td>
                                <td>@repair.Number</td>
                                <td>@repair.StoragePrice.ToString("0.00") р.</td>
                                <td>@repair.Date.ToString("dd.MM.yyyy")</td>
                                <td>@repair.Author</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}